.party-files{
     width: 100%;
     min-height: 500px;
     /*background-color: #2aabd2;*/
 }

.party-files table{
    position: relative;
    top: 50px;
    width: 80%;
    height: auto;
    margin: 0px auto;
    border: 1px solid #ebeae8;
}
.party-files table th{
    background-color: #E6A35F;
    height: 30px;
    border: 5px solid #ebeae8;
    color: white;
    text-align: center;
}
.party-files table td{
    text-align: center;
    height: 40px;
    border: 5px solid #ebeae8;
    background-color: #fffbe6;
    color: #696866;
}
.party-files table td input{
    text-align: center;
    height: 40px;
    border: 0px solid #ebeae8;
    background-color: #fffbe6;
    color: #696866;
}