@model HNCJ.DY.Model.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>movdetail</title>
</head>
<body>
    <div>
        <h1>@Model.Name</h1>
        <div>@Model.Path</div>
    </div>
</body>
</html>
