<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>在线学习</title>
    <link rel="stylesheet" href="../../../css/template/newsDetail.css">
    <link rel="stylesheet" href="../../../lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" type="text/css"/>
  

</head>
<body>
<header>
    <nav style="height: 60px" class="navbar navbar-fixed-top nav_bottom">
        <div class="container">
            <!--logo-->
            <nav class="navbar-header child-logo">
                <a href="../../first_page.html" >
                    <img class="navbar-brand" style="height: 80px;width: 80px;margin-top: -10px" src="../../../img/logo3.png" alt="">
                </a>
                <p style="font-weight: 700;font-size: 30px;color: #125ae4;margin: 10px auto">党员资料</p>
            </nav>
            <!--搜索框-->
            <form id="so1" class="navbar-form navbar-right collapse navbar-collapse childes" role="search">

                <nav class="navbar-header col-md-2 ">
                    <a href="../files.html" class="navbar-brand" style="padding: 10px;font-size: 15px;">档案管理</a>
                </nav>
                <nav class="navbar-header  col-md-2">
                    <a href="../upFiles.html" class="navbar-brand" style="padding: 10px;font-size: 15px ;">党员资料</a>
                </nav>
                <nav class="navbar-header  col-md-2">
                    <a href="../learn.html" class="navbar-brand" style="padding: 10px;font-size: 15px;">在线学习</a>
                </nav>
                <nav class="navbar-header col-md-2">
                    <a href="../news.html" class="navbar-brand" style="padding: 10px;font-size: 15px;">新闻在线</a>
                </nav>
                <nav class="navbar-header col-md-2">
                    <a href="talk-hot.html" class="navbar-brand" style="padding: 10px;font-size: 15px;">党员论坛</a>
                </nav>
            </form>
        </div>
    </nav>
</header>
<section class="new_con">
    <hr>
    <div class="new_left">
        <div class="new_tent">
            <h3 id="title" style="text-align: center;">这是内容的标题</h3>
            
            <p id="content">中共江苏省第十三届委员会第一次全体会议11月22日选举李强为省委书记，石泰峰、吴政隆为省委副书记，当选省委常委的还有黄莉新（女）、杨岳、李小敏、王炯、樊金龙、王燕文（女）、蒋卓庆、王立科（满族）、周乃翔。中共江苏省第十三届纪委第一次全体会议选举蒋卓庆为省纪委书记，王立平、黄继鹏、刘月科、周广智为省纪委副书记。（新华社南京11月22日电）。《 人民日报 》（ 2016年11月23日 04 版）中共江苏省第十三届委员会第一次全体会议11月22日选举李强为省委书记，石泰峰、吴政隆为省委副书记，当选省委常委的还有黄莉新（女）、杨岳、李小敏、王炯、樊金龙、王燕文（女）、蒋卓庆、王立科（满族）、周乃翔。中共江苏省第十三届纪委第一次全体会议选举蒋卓庆为省纪委书记，王立平、黄继鹏、刘月科、周广智为省纪委副书记。（新华社南京11月22日电）《 人民日报 》（ 2016年11月23日 04 版）。</p>
            <div style="text-align: right"><span id="date">2016年11月23</span>&nbsp;&nbsp;&nbsp;&nbsp;(责编：<span id="author">杨丽娜</span>)</div>
        </div>
        <hr>
        <div class="pop_see">
            <h3 style="padding-left:30px;">大家都在看</h3>
            <ul id="dd1" style="text-indent: 3rem;">
               <!-- <li><h3>大家都在看</h3></li>-->
                <!--<li><a href="">考察高级干部首先看是否贯彻党</a></li>
                <li><a href="">楼继伟任社保基金会理事长</a></li>
                <li><a href="">姚增科任江西省委党校校长）</a></li>
                <li><a href="">姚增科任江西省委党校校长</a></li>
                <li><a href="">王正升任青海省人民政府副省长</a></li>
                <li><a href="">安监总局原局长杨栋梁受审</a></li>
                <li><a href="">安徽省淮北原政协主席阚相华被判10年</a></li>-->
            </ul>
        </div>
    </div>
    <div class="new_right">
        <div>
            <h3 style="text-indent: 3rem;">相关推荐</h3>
            <ul id="dd2" style="text-indent: 3rem;">
                <!--<li><a href="">考察高级干部首先看是否贯</a></li>
                <li><a href="">楼继伟任社保基金会理事长</a></li>
                <li><a href="">姚增科任江西省委党校校长）</a></li>
                <li><a href="">姚增科任江西省委党校校长</a></li>
                <li><a href="">王正升任青海省人民政府副</a></li>
                <li><a href="">安监总局原局长杨栋梁受审</a></li>
                <li><a href="">安徽省淮北原政协主席阚相</a></li>
                <li><a href="">第五届“延安论坛”开幕主</a></li>-->
            </ul>
        </div>
    </div>
</section>


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="height: 40px">
    <ol class="breadcrumb">
        <li><a href="">河南</a></li>
        <li><a href="">平顶山</a></li>
        <li><a href="">河南城建学院</a></li>
        <li><a href="">计算机与数据科学学院</a></li>
    </ol>
</nav>
<script type="text/javascript" src="../../../lib/bootstrap-3.3.5-dist/js/jquery.js"></script>
<script src="../../../js/search.js"></script>
<script src="../../../js/nav.js"></script>
<script src="../../../lib/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../../../jquery-easyui-1.5/datapattern.js"></script>
    <script type="text/javascript">
        function Request(strName) {
            var strHref = window.document.location.href;
            var intPos = strHref.indexOf("?");
            var strRight = strHref.substr(intPos + 1);

            var arrTmp = strRight.split("&");
            for (var i = 0; i < arrTmp.length; i++) {
                var arrTemp = arrTmp[i].split("=");

                if (arrTemp[0].toUpperCase() == strName.toUpperCase()) return arrTemp[1];
            }
            return "";
        }
        function datetimes(value) {
            if (value == null) return null;
            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy年M月d日");
        }
        $(function () {
            var id = Request("id");
            $.post("/NewsData/Datas", { id: id }, function (data) {
                //$("#title").empty();
                $("#title").html(data.Title);
                $("#content").html(data.Msg);
                $("#author").html(data.Author);
                $("#date").html(datetimes(data.RegTime));
                
            });
            $.post("/NewsData/NewsData1", function (data) {
                var obj = $("#dd1");
                var list=data;
                for (var i = 0, l = list.length; i < l; i++) {
                    var link = list[i];
                    var jlink = $("<li></li>");
                    jlink.append("<a href='newsDetail.html?id=" + link.ID + " '>" + link.Title + " </a>");
                    obj.append(jlink);
                }     
            });
            $.post("/NewsData/NewsData2", { id: id }, function (data) {
                var obj = $("#dd2");
                var list = data;
                for (var i = 0, l = list.length; i < l; i++) {
                    var link = list[i];
                    var jlink = $("<li></li>");
                    jlink.append("<a href='newsDetail.html?id=" + link.ID + " '>" + link.Title + " </a>");
                    obj.append(jlink);
                }
            });
        });

    </script>
</body>
</html>

