@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Add</h2>
@section header{
    <script type="text/javascript">
        function submitForm() {
            var name = $("#UserName").val();
            var pwd = $("#Pwd").val();
            if (name == "") {
                alert("用户名不能为空？");
                return false;
            }
            if (pwd == "") {
                alert("密码不能为空？");
                return false;
            }
            $("form").submit();
        }
    </script>
   
    
    }
@section content{
    <div style="margin-bottom:20px">
				<input class="easyui-textbox" id="UserName" name="UserName" style="width:100%" data-options="label:'用户名:',required:true">
			</div>
			<div style="margin-bottom:20px">
				<input class="easyui-textbox" id="Pwd" name="Userpwd" type="password" value="123456" style="width:100%" data-options="label:'密码:',required:true">
			</div>
    }