@model HNCJ.DY.Model.FilesInfo

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Add</h2>
@section header{
   
    <script src="~/Content/jcrop/jquery.upload.js"></script>
    <script type="text/javascript">
        function submitForm() {
            var name = $("#FileName").val();
            var pwd = $("#FilePath").val();
            if (name == "") {
                alert("文件名不能为空？");
                return false;
            }
            if (pwd == "") {
                alert("请上传一个文件？");
                return false;
            }
            $("form").submit();
        }
        function doUpload() {
            

            // 上传方法
            $.upload({
                // 上传地址
                url: '/UserDoAction/UploadFile',
                // 文件域名字
                fileName: 'Filedata',
                // 其他表单数据
                params: { name: name },
                // 上传完成后, 返回json, text
                dataType: 'json',
                // 上传之前回调,return true表示可继续上传
                onSend: function () {
                    return true;
                },
                // 上传之后回调
                onComplate: function (data) {
                    var files = $("#FilePath").val();
                    
                    $("#FilePath").attr('value', data.path + ","+files);
                    $("#FileSize").attr('value', data.format);

                    //alert(data.path);
                }
            });
        }


        
    </script>
    <style type="text/css">
       .sec {
           width:173px;height:32px;
           border:1px solid #95B8E7;border-radius:5px;font-size:15px;
           margin-left:30px;
           margin-bottom:10px;
       }
   </style>
    
    }
@section content{
    <div style="margin-top:-30px;">
           <div style="margin-bottom:10px;">
			<input class="easyui-textbox"  style="width:100%;height:32px" type="text" id="FileName"  name="FileName"data-options="label:'文件名:'"  >
		   </div>
        <div style="margin-bottom:10px;">
			<input class="easyui-textbox"  style="width:100%;height:60px" type="text" id="Remark"  name="Remark"data-options="label:'描述:',multiline:true"  >
		   </div>
        <div style="margin-bottom:10px">
			党员姓名:
            @Html.DropDownList("PaityMemberID",null,new { @class = "sec" })
		   </div>
        <div style="margin-bottom:10px">
                <select class="easyui-combobox" name="Type" label="类型:" style="width:260px;"data-options="panelHeight:100">
                    
                    <option value="1" >党员发展材料</option>
                    <option value="2" >季度思想报告</option>
                    <option value="3" >学习总结心得</option>

                </select>
		   </div>
        
        <div style="margin-bottom:10px">
            <div>文件:&nbsp;<a href="#" onclick="doUpload();" class="btn" style="text-decoration:none;margin-left:30px;margin-bottom:10px;">上传</a></div>
			<input id="FilePath" name="FilePath" type="text"style="width:100%;height:32px;border:1px solid #95B8E7;border-radius:5px;font-size:15px;"  readonly="true" />
		   </div>
           <div style="margin-bottom:10px">
			格式：<input   style="width:100%;height:32px;border:1px solid #95B8E7;border-radius:5px;font-size:15px;" type="text" id="FileSize"  name="FileSize" readonly="true"   >
		   </div>
		    
        </div>
               
               
            
                
    }

    